.container-hero {
  background-image: url('hero-background-blob.svg');
  background-size: cover;
  background-position: 0 30%;
}

.hero-main {
  // 100 vh - navbar component height
  height: calc(100vh - 58px);
}
