<nav class="navbar navbar-wsr">
  <div class="nav-brand"> WSR </div>
  <div class="navbar-options">
    <a href="#">
      <p> Search </p>
    </a>
    <a href="#">
      <p> Menu </p>
    </a>
  </div>
</nav>
