<div class="container">
    <div class="logo">
        ODS.
    </div>
    <div class="text">
        <h1>The Org Dev Stash</h1>
        <p> A curated directory of resources & tools to build teams, develop people and solve problems collaboratively </p>
    </div>

  <ul class="listings-list">
    <% @listings.each do |listing| %>
      <li class="listings">
        <h5> <%= listing.name %></h5>
        <p> <a href='<%= listing.web_url %>'> link to Site </a></p>
      </li>

    <% end %>
  </ul>

</div>
