<div class="container-hero">
  <div class="container px-5 hero-main">
      <div class="row">
        <div class="col-8">
          <div class="hero-text">
            A collaborative repository for people who work making others better.
          </div>
        </div>
        <div class="col-7">
          <%= image_tag('hero-humans.svg', class: "hero-humans mt-3") %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 offset-3">
          <div class="categories-text py-3">
            Find what you need for your next workshop over here
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4 offset-1">
          <div class="button-section">Tools and Resources</div>
        </div>
        <div class="col-4 offset-1">
          <div class="button-section">Case Studies and Best Practices</div>
        </div>
        <div class="col-4 offset-1">
          <div class="button-section">Books, Articles and More </div>
        </div>

      </div>
  </div>
</div>
