.navbar-wsr {
  padding: 0px 120px;
  height: 58px;
  background: $nav-background;
  font-family: 'Playfair Display';
  flex-grow: 0;
  color: #fff;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
}

.navbar-options {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  min-width: 100px;
}

.navbar-options > a > p {
  text-decoration: none;
  color: #fff;
  height: 18px;
  margin-right: 20px;
  margin-bottom: 0px;
}
